<div class="ui two column stackable grid">
    <div class="column">
        <div class="ui segment">
            {{ form_errors(form) }}
            <div class="ui segment">
                <div class="two fields">
                    {{ form_row(form.code) }}
                    {{ form_row(form.name) }}
                </div>
                {{ form_row(form.description) }}
            </div>
            <div class="ui two column stackable grid">
                <div class="column">
                    {{ form_row(form.priority) }}
                    {{ form_row(form.exclusive) }}
                </div>
                <div class="column">
                    {{ form_row(form.channels) }}
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui segment">
            <h4 class="ui dividing header">{{ 'sylius.ui.start_date'|trans }} & {{ 'sylius.ui.end_date'|trans }}</h4>
            <div class="ui segment">
                <div class="two fields">
                    {{ form_row(form.startsAt) }}
                    {{ form_row(form.endsAt) }}
                </div>
            </div>
            <h4 class="ui dividing header">{{ 'acme_sylius_catalog_promotion.ui.action_configuration'|trans }}</h4>
            <div class="ui segment">
                {{ form_row(form.type) }}
                {% for name, configurationPrototype in form.vars.prototypes %}
                    <div id="{{ form.type.vars.id }}_{{ name }}" data-container=".configuration"
                         data-prototype="{{ form_widget(configurationPrototype)|e }}">
                    </div>
                {% endfor %}
                <div class="ui segment configuration">
                    {% if form.configuration is defined %}
                        {% for field in form.configuration %}
                            {{ form_row(field) }}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
